<style type="text/css">
  .blue.hover { background-color: #cfe5ed }
  .yellow.hover { background-color: #f9f590 }
  .green.hover { background-color: #d0e555 }
  .orange.hover { background-color: #f8d5a2 }
  .red.hover { background-color: #f4c1c1 }
</style>

<div class="padding">  
  <div class="small_image yellow" rel="13">
    <%= link_to(image_tag('small_lss.png', :alt => 'lucky style spotter'), '#') %>
  </div>
  <div class="small_image green" rel="12">
    <%= link_to(image_tag('small_orsella.png', :alt => 'orsella reyes'), '#') %>
  </div>

  <div class="large_image" id="showcase_13">
    <%= image_tag('large_lss.jpg') %>
    <div class="project_description">
      <p class="name">Project name: Lucky Style Spotter
        <span class="url">url: <%= link_to('http://www.luckystylespotter.com', 'http://www.luckystypespotter.com', :target => '_blank') %></span>
      </p>
      <p class="description">
        Description: Partnered with <%= link_to('Intersect NYC', 'http://www.intersectnyc.com', :target => '_blank') %> in fully restyling the 
        front end of this fashion setting user base driven site. 
      </p>
    </div>
  </div>
  <div class="large_image" id="showcase_12">
    <%= image_tag('large_orsella.jpg') %>
    <div class="project_description">
      <p class="name">Project name: Orsella Reyes
        <span class="url">url: <%= link_to('http://www.orsella.com', 'http://www.orsella.com', :target => '_blank') %></span>
      </p>
      <p class="description">
        Description: This was a christmas gift for my long time friend. I was going for the stylish, sophisticated and professional look, 
        since those are the words I would use to describe her. This was an exercise in designing and programming a rails site from the ground up. 
        Collaborated with <%= link_to('Ian Enders', 'http://www.addictedtoian.com', :target => '_blank') %> for backend and ajax support. 
      </p>
    </div>
  </div>


  <div class="small_image blue" rel="11">
    <%= link_to(image_tag('small_bandb.png', :alt => 'bond &#38; bowery'), '#') %>
  </div>
  <div class="small_image orange" rel="10">
    <%= link_to(image_tag('small_chilewich.png', :alt => 'chilewich'), '#') %>
  </div>  

  <div class="large_image" id="showcase_11">
    <%= image_tag('large_bandb.jpg') %>
    <div class="project_description">
      <p class="name">Project name: Bond &#38; Bowery
        <span class="url">url: <%= link_to('http://www.bondandbowery.com', 'http://www.bondandbowery.com', :target => '_blank') %></span>
      </p>
      <p class="description">Description: Hired by <%= link_to('Intersect NYC', 'http://www.intersectnyc.com', :target => '_blank') %> 
        to re-style this vast site written almost entirely in php. Wrote new html, re-formatted existing html, wrote basic php, and javascript 
        to re-design the entire user interface.
      </p>
    </div>
  </div>
  <div class="large_image" id="showcase_10">
    <%= image_tag('large_chilewich.jpg') %>
    <div class="project_description">
      <p class="name">Project name: Chilewich
        <span class="url">url: <%= link_to('http://www.chilewich.com', 'http://www.chilewich.com', :target => '_blank') %></span>
      </p>
      <p class="description">Description: Partnered with <%= link_to('Intersect NYC', 'http://www.intersectnyc.com', :target => '_blank') %> 
        to develop this striking and elegant e-commerce site, which emphasizes craftmanship and well made designs focusing on materials and textiles. 
      </p>
    </div>
  </div>

  <div class="small_image red" rel="9">
    <%= link_to(image_tag('small_falchi_teaser.png', :alt => 'carlos falchi'), '#') %>
  </div>
  <div class="small_image yellow" rel="8">
    <%= link_to(image_tag('small_thornton.png', :alt => 'thornton tomasetti'), '#') %>
  </div>

  <div class="large_image" id="showcase_9">
    <%= image_tag('large_falchi_teaser.jpg') %>
    <div class="project_description">
      <p class="name">Project name: Carlos Falchi (Teaser Site)
        <span class="url">url: <%= link_to('http://www.carlosfalchi.com', 'http://www.carlosfalchi.com', :target => '_blank') %></span>
      </p>
      <p class="description">Description: Created the user interface for this temporary site for the fashion designer, Carlos Falchi. Partnered with 
        <%= link_to('Intersect NYC', 'http://www.intersectnyc.com', :target => '_blank') %>. 
      </p>
    </div>
  </div>
  <div class="large_image" id="showcase_8">
    <%= image_tag('large_thornton.jpg') %>
    <div class="project_description">
      <p class="name">Project name: Thornton Tomasetti
        <span class="url">url: <%= link_to('http://www.thorntontomasetti.com', 'http://www.thorntontomasetti.com', :target => '_blank') %></span>
      </p>
      <p class="description">Description: Partnered with <%= link_to('Intersect NYC', 'http://www.intersectnyc.com', :target => '_blank') %> 
        to style and develop the user interface for this site, which features a search engine for navigating through this structural engineering 
        firm's vast portfolio.
      </p>
    </div>
  </div>

  <div class="small_image green" rel ="7">
    <%= link_to(image_tag('small_liz.png', :alt => 'liz claiborne'), '#') %>
  </div>
  <div class="small_image blue" rel="6">
    <%= link_to(image_tag('small_citibabes.png', :alt => 'citibabes'), '#') %>
  </div>

  <div class="large_image" id="showcase_7">
    <%= image_tag('large_liz.jpg') %>
    <div class="project_description">
      <p class="name">Project name: Liz Claiborne
        <span class="url">url: <%= link_to('http://www.lizclaiborne.com', 'http://www.lizclaiborne.com', :target => '_blank') %></span>
      </p>        
      <p class="description">Description: Collaborated with <%= link_to('Intersect NYC', 'http://www.intersectnyc.com', :target => '_blank') %> 
        to develop and style much of the user interface to achieve the company's new vision and relaunching of the Liz brand.
      </p>
    </div>
  </div>
  <div class="large_image" id="showcase_6">
    <%= image_tag('large_citibabes.jpg') %>
    <div class="project_description">
      <p class="name">Project name: Citibabes
        <span class="url">url: <%= link_to('http://www.citibabes.com', 'http://www.citibabes.com', :target => '_blank') %></span>
      </p>
      <p class="description">Description: This vibrant site is a one stop shop for city parents on the go. Developed and styled all front end 
        pages in partnership with <%= link_to ('Intersect NYC', 'http://www.intersectnyc.com', :target => '_blank') %>.
      </p>
    </div>
  </div>

  <div class="small_image orange" rel="5">
    <%= link_to(image_tag('small_mally.png', :alt => 'mally'), '#') %>
  </div>
  <div class="small_image red" rel="4">
    <%= link_to(image_tag('small_kates.png', :alt => 'kates'), '#') %>
  </div>

  <div class="large_image" id="showcase_5">
    <%= image_tag('large_mally.jpg') %>
    <div class="project_description">
      <p class="name">Project name: Mally Beauty
        <span class="url">url: <%= link_to('http://www.mallybeauty.com', 'http://www.mallybeauty.com', :target => '_blank') %></span>
      </p>
      <p class="description">Description: In addition to a rich online community and an extensive line of beauty products, webisodes are a key 
        experience for the user. Partnered with <%= link_to ('Intersect NYC', 'http://www.intersectnyc.com', :target => '_blank') %> to develop 
        and style user interface.
      </p>
    </div>
  </div>
  <div class="large_image" id="showcase_4">
    <%= image_tag('large_kates.jpg') %>
    <div class="project_description">
      <p class="name">Project name: Kates Paperie
        <span class="url">url: <%= link_to('http://www.katespaperie.com', 'http://www.katespaperie.com', :target => '_blank') %></span>
      </p>
      <p class="description">Description: Partnered with <%= link_to ('Intersect NYC', 'http://www.intersectnyc.com', :target => '_blank') %> to 
        develop the user interface for a client recognized as a leader in the industry of all things stationary.
      </p>
    </div>
  </div>

  <div class="small_image yellow" rel="3">
    <%= link_to(image_tag('small_kimara.png', :alt => 'kimara'), '#') %>
  </div>
  <div class="small_image green" rel="2">
    <%= link_to(image_tag('small_cinemax.png', :alt => 'cinemax'), '#') %>
  </div>

  <div class="large_image" id="showcase_3">  
    <%= image_tag('large_kimara.jpg') %>
    <div class="project_description">
      <p class="name">Project name: Kimara
        <span class="url">url: <%= link_to('http://www.kimara.com', 'http://www.kimara.com', :target => '_blank') %></span>
      </p>
      <p class="description">Description: Worked with <%= link_to ('Intersect NYC', 'http://www.intersectnyc.com', :target => '_blank') %> in styling 
        the front end of this high end beauty product e-commerce site.
      </p>
    </div>
  </div>
  <div class="large_image" id="showcase_2">
    <%= image_tag('large_cinemax.jpg') %>
    <div class="project_description">
      <p class="name">Project name: Cinemax
        <span class="url">url: <%= link_to('http://www.cinemax.com', 'http://www.cinemax.com', :target => '_blank') %></span>
      </p>
      <p class="description">Description: Collaborated with <%= link_to('Creativelab NY', 'http://www.creativelabny.com', :target => '_blank') %> in 
        re-skinning HBO's cinemax home page via xml and flash.
      </p>
    </div>
  </div>
  
  <div class="small_image blue" rel="1">
    <%= link_to(image_tag('small_summitsprings.png', :alt => 'summit springs'), '#') %>
  </div>
  
  <div class="large_image" id="showcase_1">
    <%= image_tag('large_summitsprings.jpg') %>
    <div class="project_description">
      <p class="name">Project name: Summit Springs
        <span class="url">url: <%= link_to('http://www.summitsprings.com', 'http://www.summitsprings.com', :target => '_blank') %></span>
      </p>
      <p class="description">Description: Partnered with <%= link_to('Atrium Media NY', 'http://www.atriummediany.com', :target => '_blank') %> in 
        redesigning and developing this site including both front end and back end programming.
      </p>
    </div>
  </div>
</div>