  <h3><%= blog.created_at.strftime("%a %B %d %H:%M:%S %Y") %></h3>
  <h2><%=h blog.title %></h2>
  <div class = "blog_text">
    <%= markdown(blog.image_replaced_content) %>
    <% if_authorized? do %>
      <div class="admin_links">
        <%= link_to 'Edit', edit_blog_path(blog) %> | 
        <%= link_to 'Delete', blog, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    <% end %>
    <div class = "clear"></div>
    <div class="reply">
      <%= link_to(image_tag('reply.png', :alt => 'reply', :class => 'reply_button'), "#") %>
      <span>comments 2 </span>
      <div class="show_hide"><%= link_to 'show', '#' %>&nbsp;|&nbsp;<%= link_to 'hide', '#' %></div>
      <div class="comments_wrapper">
        <textarea id="reply_content"></textarea>
      </div>
      <div class="post_delete">
        <%= link_to(image_tag('post.png', :alt => 'post', :class => 'post_button'), "#") %>
        <%= link_to(image_tag('delete.png', :alt => 'delete'), "#") %>
      </div>
      <div class="comments">
        <p>dolor sit amet, consectetur adipiscing elit. Nam consectetur mauris sed velit. Vivamus 
          eleifend quam ac erat. Nunc eget dolor et lorem rutrum dignissim. Curabitur feugiat mauris eget ipsum.</p>
      </div>
      <div class="comments">
        <p>Vivamus eleifend quam ac erat. Nunc eget dolor et lorem rutrum dignissim. Curabitur feugiat mauris eget ipsum.</p>
      </div>
    </div>
  </div>