<h3><%= blog.created_at.strftime("%a %B %d %Y") %></h3>
<h2><%=h blog.title %></h2>
<div class = "blog_text">
  <%= markdown(blog.image_replaced_content) %>
  <% if_authorized? do %>
    <div class="admin_links">
      <%= link_to 'Edit', edit_blog_path(blog) %> | 
      <%= link_to 'Delete', blog, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  <% end %>
  <div class = "clear"></div>
  <div class="reply">
    <% if defined?(link_reply) && link_reply == true %>
      <%= link_to(image_tag('reply.png', :alt => 'reply', :class => 'reply_button'), "/blogs/#{blog.id}?reply=1#reply") %>
    <% else %>
      <%= link_to(
        image_tag('reply.png', :alt => 'reply', :class => 'reply_button'),
        "#",
        :class => 'reply_link',
        :rel   => blog.id
      ) %>
    <% end %>
    <span>comments <span id = "comment_count_<%= blog.id %>"><%= blog.comments.size %></span></span>
    <% if blog.comments.size > 0 %>
      <div class="show_hide" rel="<%= blog.id %>">
        <%= link_to params[:reply] ? 'hide comments' : 'show comments', '#', :rel => blog.id %>
      </div>
    <% end %>
    <div class="comments_reply_wrapper" id = "comment_reply_<%= blog.id %>">
      <% blog.comments.sort {|a,b| a.created_at <=> b.created_at }.each do |comment| %>
        <%= render :partial => 'comment', :object => comment %>
      <% end %>
      <div id = "new_blog_drop_<%= blog.id %>"></div>
      <a name = "reply"></a>
      <% remote_form_for(:comment, @comment || Comment.new(:blog => blog), :url => { :action => 'post_comment' }) do |f| %>
        <div id = "comment_errors_<%= blog.id %>" class = "post_error"></div>
        <%= f.hidden_field :blog_id %>
        <div class="textfield_wrapper" rel="<%= blog.id %>" <% if !params[:reply] %> style="display: none" <% end %>>
          <div class="reply_textfield">
            <%= f.text_area :content, :class => 'reply_content' %>
          </div>
          <%= recaptcha_tags(:ajax => true, :display => { :theme => 'blackglass' }) %>
          <div class="userinfo">
            *name: <%= f.text_field :user_name, :class => 'username' %>
            *email: <%= f.text_field :email, :class => 'useremail' %>
          </div>
          <div class="post_delete"><%= image_submit_tag('post.png') %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>