<div class="comment" id = "comment_<%= comment.id %>" rel="<%= comment.blog.id %>" <% if !params[:reply] %> style="display: none" <% end %>>
  <% if_authorized? do %>
    <%= link_to_remote(
      image_tag('delete.png', :alt => 'delete', :class => 'delete_button'),
      :url => delete_comment_path(comment.id),
      :confirm => 'Are you sure?'
    ) %>
  <% end %>
  <p><%= comment.content %></p>
  <p class = "author">&#150;&nbsp;<%= comment.user_name %></p>
</div>