<%# image_tag('header_tweets.png', :alt => 'tweets', :class => 'search_header') %>
<h3>tweets</h3>

<span class="tweets">
  <% begin %>
  <% i = 0 %>
  <% Twitter::Search.new.from('anaecarter').each do |tweet| %>
    <%= i % 2 == 1 ? '<div class="tweet">' : '<div class="tweet alt">' %>
      <%= link_to(image_tag('twitter_bird.png', :alt => 'bird'), "http://www.twitter.com/#{tweet.from_user}") %>
      <p><%= link_to(tweet.text, "http://www.twitter.com/#{tweet.from_user}") %></p>
      <% logger.debug "source = #{tweet.source}" %>
      <span class = "tweet_info"><%= twitter_time(tweet.created_at) %> from <%= CGI.unescapeHTML(tweet.source) %></span>
    </div>
    <% i = i + 1 %>
  <% end %>
  <% rescue Exception => e %>
    <% Rails.logger.warn "Tweety Error: #{e}" %>
    <div class = "tweet">
      <p>Unable to connect to twitter.</p>
    </div>
  <% end %>
</span>