<div class="padding">
  <div id="blog_container">
    <% if @blogs %>
      <%= render :partial => 'blog', :collection => @blogs %>
    <% else %>
      <%= render :partial => 'blog', :object => @blog %>
    <% end %>
    
    <% if_authorized? do %>
      <%= link_to 'New blog', new_blog_path, :class => "new_blog" %>
    <% end %>
  </div>
  
  <%= render :partial => 'search' %>
</div>

<%= will_paginate(@blogs,
    :previous_label => image_tag((@blogs.previous_page ? 'previous.png' : 'previous_ghosted.png'), :alt => 'previous'),
    :next_label     => image_tag((@blogs.next_page ? 'next.png' : 'next_ghosted.png'), :alt => 'next'),
    :inner_window   => 3
) %>
