<div id = "thumbs">
  <div class = "album_title" rel = "<%= album.id %>">
    <h2 class="album_name"><%= album.name %></h2>
    <span class="album_details"><%= album.date %></span>
    <% if_authorized? do %>
      <div class = "admin_album_links">
        <%= link_to('edit',   edit_album_path(album)) %> |
        <%= link_to('delete', album_path(album), :method => :delete, :confirm => 'Are you sure?') %> | 
        <%= link_to('Create New Album', new_album_path) %>
      </div>
    <% end %>
  </div>

  <div class="thumb_holder">
    <%= link_to(image_tag('arrow_left_ghosted.jpg', :alt => 'prev'), '#', :id => 'previous') %>
    <div class="thumb_window">
      <div class="thumbs">
        <% if album %>
          <% logger.debug("album.photos = #{album.photos.inspect}") %>
          <% album.photos.sort{|a, b| a.position <=> b.position }.each do |photo| %>
            <div class = "gallery_image" rel = "<%= photo.id %>">
              <%= image_tag(photo.thumb_url, :width  => photo.thumb_width, :height => photo.thumb_height) %>
            </div>

            <div id = "photo_filename_<%= photo.id %>" style = "display: none"><%= photo.public_filename %></div>
            <div id = "photo_height_<%= photo.id %>" style = "display: none"><%= photo.height %></div>
            <div id = "photo_width_<%= photo.id %>" style = "display: none"><%= photo.width %></div>

            <div id = "photo_data_<%= photo.id %>" style = "display: none">
              <% if photo.title %><%= photo.title %><% end %>
              <% if photo.description %><%= photo.description %><% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= link_to(image_tag("arrow_right#{album.size > 13 ? '' : '_ghosted'}.jpg", :alt => 'next'), '#', :id => 'next') %>
  </div>
  
  <script type = "text/javascript">
    //Album headers
    $(function() {
      $('.gallery_image:first').click();
      
      Cufon.replace(['h2, h3'], { fontFamily: 'AvantGarde-Cnd' });
      
      album_size = <%= album.photos.size %>;
      first_photo = 1;
      last_photo = 13;
    });
  </script>
</div>