<div id="large_image">
  <%= image_tag('pic1.jpg', :alt => 'image') %>
</div>
<div id="menu">
  <%= image_tag('gallery_up_ghosted.png', :alt => 'up') %>
  <%= link_to(image_tag('album_cover1.png', :alt => 'cover', :class => 'selected'), '#') %>
  <%= link_to(image_tag('album_cover2.png', :alt => 'cover'), '#') %>
  <%= link_to(image_tag('album_cover3.png', :alt => 'cover'), '#') %>
  <%= link_to(image_tag('album_cover4.png', :alt => 'cover'), '#') %>
  <%= link_to(image_tag('album_cover5.png', :alt => 'cover'), '#') %>
  <%= link_to(image_tag('album_cover1.png', :alt => 'cover'), '#') %>
  <%= link_to(image_tag('album_cover2.png', :alt => 'cover'), '#') %>
  <%= link_to(image_tag('album_cover3.png', :alt => 'cover'), '#') %>
  <%= link_to(image_tag('album_cover4.png', :alt => 'cover'), '#') %>
  <%= link_to(image_tag('album_cover5.png', :alt => 'cover'), '#') %>
  <%= link_to(image_tag('album_cover1.png', :alt => 'cover'), '#') %>
  <%= link_to(image_tag('album_cover2.png', :alt => 'cover'), '#') %>
  <%= link_to(image_tag('album_cover3.png', :alt => 'cover'), '#') %>
  <%= link_to(image_tag('album_cover4.png', :alt => 'cover'), '#') %>
  <%= image_tag('gallery_down.png', :alt => 'down') %>
</div>

<h2 class="album_name">nolita</h2>

<div class="thumb_holder">
  <%= link_to(image_tag('arrow_left.png', :alt => 'prev'), '#', :class => 'left_arrow') %>
  <div class="thumbs">
    <%= link_to(image_tag('gallery_thumb1.png', :alt => 'thumb', :class => 'selected'), '#') %>
    <%= link_to(image_tag('gallery_thumb2.png', :alt => 'thumb'), '#') %>
  </div>
  <%= link_to(image_tag('arrow_right_ghosted.png', :alt => 'next'), '#', :class => 'right_arrow') %>
</div>
