<div class="padding">
  <div id="about_me"> 
    <div id="description">
      <%= image_tag('ana_carter.png', :tag => 'ana carter')%>
      <h3>about Ana Carter</h3>
      <div class="about_text">
        <p>Thank you for visiting my site!! As a web developer, I specialize in the front end user interface experience providing web compliant xhtml, css, Javascript and to a lesser extent, Ruby on Rails. My background as a designer and my interest in client and server side programming make me a valuable member of the development team.</p> 
        <p>Outside of the professional realm, I'm an introverted and strongly opinionated nerd. I love my black kitty and my cute french bulldog, and I love anything that has to do with interior design.</p>
        <p>Please feel free to glance at my <%= link_to('portfolio', '/showcase') %> and <%= link_to('contact me', '/contact') %> if you have any questions or comments.<span>&nbsp;&diams;&nbsp;Sincerely, Ana Carter&nbsp;&diams;&nbsp;</span></p>
        </div>
    </div>
  </div>
  <div id="resume">
    <h5 class="category_title">resume</h5>
    <div class="download_link">&rarr;<span><%= link_to('download resume', '/ana_carter_resume.pdf', :target => '_blank') %></span></div>
    <table id="my_resume" cellspacing="0" cellpadding="0">
      <tr><td class="category_title" colspan="2">education</td></tr>
      <tr>
        <td class="school_job">Parsons School of Design</td>
        <td class="right_col">May 2008</td>
      </tr>
      <tr>
        <td class="td_description bottom_padding">completed one year of the Masters of Fine Arts in Design + Technology</td>
        <td class="right_col bottom_padding">New York, NY</td>
      <tr>
        <td class="school_job">Carnegie Mellon University</td>
        <td class="right_col">Dec 2005</td>
      </tr>
      <tr>
        <td class="td_description bottom_padding">B.A. European Studies and Music Performance</td>
        <td class="right_col bottom_padding">Pittsburgh, PA</td>
      </tr>
      <tr>
        <td class="school_job">Centre International D’Etudes Français</td>
        <td class="right_col">Summer 2004</td>
      </tr>
      <tr>
        <td class="td_description">Certificate in Intensive Language Studies in French</td>
        <td class="right_col">Angers, France</td>      
      </tr>
      <tr><td class="section_separator" colspan="2">&nbsp;</td></tr>
      <tr><td class="category_title" colspan="2">skills</td></tr>
      <tr>
        <td colspan="2">
          <ul>
            <li>Web compliant XHTML, CSS, Ruby on Rails, JavaScript, beginner PHP / MySQL</li>
            <li>Strong graphic design and typography skills</li>
            <li>Proficient in Macintosh and Windows platforms</li>
            <li>Adobe applications include Photoshop, Illustrator, InDesign</li>
          </ul>
        </td>
      </tr>
      <tr><td class="section_separator" colspan="2">&nbsp;</td></tr>
      <tr><td class="category_title" colspan="2">recent experience</td></tr>
      <tr>
        <td class="school_job"><%= link_to('Intersect NYC', 'http://www.intersectnyc.com/', :target => '_blank') %> : Front End Developer</td>
        <td class="right_col">Sep 2008 - Present</td>
      </tr>
      <tr>
        <td class="td_description bottom_padding">
          As a member of the development team, I work closely with the designers, back end programmers, and software engineer in 
          producing custom sites and content management software.
        </td>
        <td class="right_col">New York, NY</td>
      </tr>
      <tr>
        <td class="school_job"><%= link_to('Creativelab NYC', 'http://www.creativelabny.com', :target => '_blank') %> : Design Intern</td>
        <td class="right_col">July 2008 - Aug 2008</td>
      </tr>
      <tr>
        <td class="td_description bottom_padding">
          Image post production and animation work using Photoshop. Signage and typographic design consistent with visual language 
          of pre-recorded video. Web design and development, such as collaborating in re-skinning HBO's Cinemax. Photo shoot, and 
          set design assistant.
        </td>
        <td class="right_col">DUMBO, NY</td>
      </tr>
      <tr>
        <td class="school_job"><%= link_to('Atrium Media NYC', 'http://www.atriummediany.com', :target => '_blank') %> : Freelance Developer</td>
        <td class="right_col">Aug 2008</td>
      </tr>
      <tr>
        <td class="td_description bottom_padding">
          Partially designed and fully developed front and back end of housing community site.
        </td>
        <td class="right_col">New York, NY</td>
      </tr>
      <tr>
        <td class="school_job"><%= link_to('City Joinery, LLC', 'http://www.cityjoinery.com', :target => '_blank') %> : Junior woodworker and website manager</td>
        <td class="right_col">Feb 2006 – Feb 2007</td>
      </tr>
      <tr>
        <td class="td_description">
          Photo retouching, layout and image editing using Photoshop and Illustrator. Proofreading and editing written content for web and 
          brochure. Database and website content management. Assisted in the production of custom wood furniture from milling to finishing.
        </td>
        <td class="right_col">DUMBO, NY</td>
      </tr>
      <tr><td class="section_separator" colspan="2">&nbsp;</td></tr>
      <tr><td class="category_title" colspan="2">additional information</td></tr>
      <tr>
        <td colspan="2">
          <ul>
            <li>fluent in spanish</li>
            <li>love traveling <span>&hearts;</span></li>
            <li>enjoy interior design <span>&hearts;</span></li>
            <li>am obsessed with my kitty and puppy <span>&hearts;&hearts;</span></li>
            <li>enjoy when i cook a meal that actually turns out well</li>
            <li>always make room for desert <span>&hearts;</span></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>