.padding
  #about_me
    #description
      = image_tag('ana_carter.png', :tag => 'ana carter')
      %h3 about Ana Carter
      .about_text
        %p Thank you for visiting my site!! As a web developer, I specialize in the user interface experience providing web compliant XHTML, CSS, and Javascript. My experience ranges from the design phase to front-end and to a lesser extent back-end development. I'm most comfortable working in the Rails framework collaborating with developers and software engineers on our Ruby applications. I have formal training in design and am well versed in graphic design tools such as photoshop and illustrator.
        %p
          Outside of the professional realm, I'm an introverted yet strongly opinionated nerd. I have an elegant, graceful black cat and a loud, silly french bulldog, both incredibly adorable. I love interior design, hand crafted wood furniture, classical music, and old French films. Please feel free to glance at my #{link_to('portfolio', '/showcase')} and do not hesitate to #{link_to('contact me', '/contact')} with any feedback or questions.
          %span &nbsp;&diams;&nbsp;Thank you&nbsp;&diams;&nbsp;
  #resume
    %h5.category_title resume
    .download_link
      \&rarr;
      %span= link_to('download resume', '/ana_carter_resume.pdf', :target => '_blank')
    %table#my_resume{:cellpadding => "0", :cellspacing => "0"}
      %tr
        %td.category_title{:colspan => "2"} education
      %tr
        %td.school_job Parsons School of Design
        %td.right_col May 2008
      %tr
        %td.td_description.bottom_padding completed one year of the Masters of Fine Arts in Design + Technology
        %td.right_col.bottom_padding New York, NY
        %tr
          %td.school_job Carnegie Mellon University
          %td.right_col Dec 2005
        %tr
          %td.td_description.bottom_padding B.A. European Studies and Music Performance
          %td.right_col.bottom_padding Pittsburgh, PA
        %tr
          %td.school_job Centre International D’Etudes Français
          %td.right_col Summer 2004
        %tr
          %td.td_description Certificate in Intensive Language Studies in French
          %td.right_col Angers, France
        %tr
          %td.section_separator{:colspan => "2"} &nbsp;
        %tr
          %td.category_title{:colspan => "2"} skills
        %tr
          %td{:colspan => "2"}
            %ul
              %li Web compliant XHTML/HAML, CSS/SASS, basic Ruby on Rails, JavaScript, PHP / MySQL
              %li Strong graphic design and typography skills
              %li Proficient in Macintosh and Windows platforms
              %li Adobe applications include Photoshop, Illustrator, InDesign
        %tr
          %td.section_separator{:colspan => "2"} &nbsp;
        %tr
          %td.category_title{:colspan => "2"} recent experience
        %tr
          %td.school_job
            = link_to('Intersect NYC', 'http://www.intersectnyc.com/', :target => '_blank')
            \: Front End Developer
          %td.right_col Sep 2008 - Present
        %tr
          %td.td_description.bottom_padding
            As a member of the development team, I work closely with the designers, back end programmers, and software engineer in
            producing custom sites and content management software.
          %td.right_col New York, NY
        %tr
          %td.school_job
            = link_to('Creativelab NYC', 'http://www.creativelabny.com', :target => '_blank')
            \: Design Intern
          %td.right_col July 2008 - Aug 2008
        %tr
          %td.td_description.bottom_padding
            Image post production and animation work using Photoshop. Signage and typographic design consistent with visual language
            of pre-recorded video. Web design and development, such as collaborating in re-skinning HBO's Cinemax. Photo shoot, and
            set design assistant.
          %td.right_col DUMBO, NY
        %tr
          %td.school_job
            = link_to('Atrium Media NYC', 'http://www.atriummediany.com', :target => '_blank')
            \: Freelance Developer
          %td.right_col Aug 2008
        %tr
          %td.td_description.bottom_padding
            Partially designed and fully developed front and back end of housing community site.
          %td.right_col New York, NY
        %tr
          %td.school_job
            = link_to('City Joinery, LLC', 'http://www.cityjoinery.com', :target => '_blank')
            \: Junior woodworker and website manager
          %td.right_col Feb 2006 – Feb 2007
        %tr
          %td.td_description
            Photo retouching, layout and image editing using Photoshop and Illustrator. Proofreading and editing written content for web and
            brochure. Database and website content management. Assisted in the production of custom wood furniture from milling to finishing.
          %td.right_col DUMBO, NY
        %tr
          %td.section_separator{:colspan => "2"} &nbsp;
        %tr
          %td.category_title{:colspan => "2"} additional information
        %tr
          %td{:colspan => "2"}
            %ul
              %li fluent in spanish
              %li
                love traveling
                %span &hearts;
              %li
                enjoy interior design
                %span &hearts;
              %li
                am obsessed with my kitty and puppy
                %span &hearts;&hearts;
              %li enjoy when i cook a meal that actually turns out well
              %li
                always make room for desert
                %span &hearts;
