<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">	

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>anamonster</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="keywords" content="anamonster, Anamonster, Ana Carter, ana portfolio, graphic design, design, ana carter, designer, typography, multidisciplinary design, cross disciplinary, Parsons, parsons school of design, New York designer"/>
	<meta name="description" content="Ana Carter, Ana Carter, Ana Carter design portfolio"/> 
	
	<%= javascript_include_tag :defaults, 'sifr', 'sifr-config' %>
	<%= stylesheet_link_tag 'style', 'sifr', 'scaffold' %>
	
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
</head>
<body>
  <div id="main">    
      <div id="header">
        <%= link_to(image_tag('logo.png', :alt => 'anamonster', :class => 'logo'), '/') %>
        <div id="navigation">
          <div class="nav_links">  
            <% [ ['about', '/about' ], [ 'gallery', '/gallery' ], [ 'showcase', '/showcase' ], [ 'blog', '/' ] ].each do |nav| %>
              <% on_off = (nav[0] == get_current_section) ? '_on.png' : '_off.png' %>
              <%= link_to(image_tag('button_'+ nav[0] + on_off), nav[1]) %>
            <% end %>             
          </div>      
        </div>    
      </div>
			<% if flash[:message] %>
			  <div class="message"><%= h flash[:message] %></div>
			<% elsif flash[:warning] %>
			  <div class="message warning"><%= h flash[:warning] %></div>
			<% elsif flash[:error] %>
			  <div class="message warning"><%= h flash[:error] %></div>
			<% end %>
			<div id="content">
			  <%= image_tag('/images/margin.png', :alt => 'anamonster', :id => 'top_margin') %>
        <%= yield %>
      </div>
      <div id="footer">
        <%= image_tag('/images/margin.png', :alt => 'anamonster', :id => 'bottom_margin') %>
        <div id="footer_navigation">
          <span class='contact'><%= link_to('contact', '/contact') %></span>
          <div id="search">
            <% form_tag(blog_search_path(:by => 'keyword'), :id => 'search_form') do |f| %>
              <%= text_field_tag(:value, '', :class => 'search') %>
              <span class="search_button"><%= link_to_function('search', "$('#search_form').submit()") %></span>
            <% end %>
          </div>
          <p>&#169; Copyright 2009. Ana Carter. All rights reserved</p>
        </div>
      </div>
  </div>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-10030932-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>
</html>
