<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">	
<head>
	<title>anamonster</title>	
	<meta name="description" content="view Ana Carter a.k.a. anamonter's (new york city) professional portfolio." />
  <meta name="keywords" content="anamonster, Ana Carter, ana carter's portfolio, anacarter, ana carter new york city" />
  <meta name="author" content="Ana Carter" />
  <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" />	
	<meta name="verify-v1" content="q4uHVk3iBJUR2UWXCCij6cPooh3s9VoMEX/OIDipEZY=" />
	<meta name="verify-v1" content="AGWN6FoiMO8MzjDpbhfx0TRxVzJyw3N/wqCn37Nob8o=" />
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<%= javascript_include_tag :defaults, 'sifr', 'sifr-config' %>
	<%= stylesheet_link_tag 'style', 'sifr', 'scaffold' %>
	<%= auto_discovery_link_tag(:rss, :controller => 'blogs', :action => 'feed') %>
</head>
<body>
  <div id="main">    
      <div id="header">
        <%= link_to(image_tag('logo.png', :alt => 'anamonster', :class => 'logo'), '/') %>
        <div id="navigation">
          <div class="nav_links">  
            <% [ ['about', '/about' ], [ 'gallery', '/gallery' ], [ 'showcase', '/showcase' ], [ 'blog', '/' ] ].each do |nav| %>
              <% on_off = (nav[0] == get_current_section) ? '_on.png' : '_off.png' %>
              <%= link_to(image_tag('button_'+ nav[0] + on_off), nav[1]) %>
            <% end %>             
          </div>      
        </div>    
      </div>
			<% if flash[:message] %>
			  <div class="message"><%= h flash[:message] %></div>
			<% elsif flash[:warning] %>
			  <div class="message warning"><%= h flash[:warning] %></div>
			<% elsif flash[:error] %>
			  <div class="message warning"><%= h flash[:error] %></div>
			<% end %>
			<div id="content">
			  <%= image_tag('/images/margin.png', :alt => 'anamonster', :id => 'top_margin') %>
        <%= yield %>
      </div>
      <div id="footer">
        <%= image_tag('/images/margin.png', :alt => 'anamonster', :id => 'bottom_margin') %>
        <%= image_tag('/images/mini_me_blue.png', :alt => 'little anamonster', :id => 'mini_me') %>
        <%= link_to(image_tag('rss_logo.png', :alt => 'RSS', :class => 'rss', :target => '_blank'), '/feed.xml') %>
        <div id="footer_navigation">
          <span class='contact'><%= link_to(image_tag('/images/contact_button.png', :alt => 'contact'), '/contact') %></span>
          <div id="search">
            <% form_tag(blog_search_path(:by => 'keyword'), :id => 'search_form') do |f| %>
              <%= text_field_tag(:value, '', :class => 'search') %>
              <span class="search_button"><%= link_to_function('search', "$('#search_form').submit()") %></span>
            <% end %>
          </div>
          <p>&#169; Copyright 2009. Ana Carter. All rights reserved</p>
        </div>
      </div>
  </div>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-10030932-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>
</html>
